<div style="background-image:url({{restaurant.image}});font-family:{{restaurant.font}};" class="restimg">
    <div class="overlayimg">
        {{restaurant.name}}
    </div>
</div>
<section class="menus" style="font-family: {{restaurant.font}};">
    {{#each restaurant.menus}}
        <h1>{{this.title}}</h1>
        {{#each this.items}}
            <div>
                <h2>{{this.name}}</h2>
                <h3>£{{this.price}}</h3>
            </div>
        {{/each}}
        <a onclick="openForm('{{this.id}}')">
            <button class="but">edit {{this.title}} menu</button>
        </a>
        <div id="editmenuform{{this.id}}" class="over">
            <a href="javascript:void(0)" class="closebtn" onclick="closeForm({{this.id}})">&times;</a>

            <div class="over-content">

                <h4>Edit Menu</h4>

                <form action="/restaurant/{{../restaurant.id}}/{{this.id}}/editmenu" method="POST">
                <div>
                    <label>Menu title:</label>
                    <input name="title" value="{{this.title}}"/>
                </div>
                <button>Update Menu</button>
                </form>

                <form action="/restaurant/{{../restaurant.id}}/{{this.id}}/additem" method="POST">
                <div>
                    <label>add item name:</label>
                    <input name="name"/>
                </div>
                <div>
                    <label>add item price:</label>
                    <input name="price"/>
                </div>
                <button>Add Item</button>
                </form>

                <form action="/restaurant/{{../restaurant.id}}/{{this.id}}/deleteitem" method="POST">
                <div>
                    <label>select item name:</label>
                    <select name="id">
                        {{#each this.items}}
                            <option value="{{this.id}}">{{this.name}}</option>
                        {{/each}}
                    </select>
                </div>
                <button>Remove Item</button>
                </form>
            </div>
        </div>
    {{/each}}
</section>




<div class="footer">
    <a onclick="openAny('editform')" style="cursor:pointer;">
        <button class="but">edit restaurant</button>
    </a>

    <a onclick="openAny('deleteform')" style="cursor:pointer;">
        <button class="but">delete restaurant</button>
    </a>
</div>



<div id="editform" class="over">
<a href="javascript:void(0)" class="closebtn" onclick="closeAny('editform')">&times;</a>

    <div class="over-content">

        <h1>Edit Restaurant</h1>

        <form action="/restaurant/{{restaurant.id}}/editrest" method="POST">
            <div>
                <label>Restaurant name:</label>
                <input name="name" value="{{restaurant.name}}"/>
            </div>
            <div>
                <label>Restaurant image:</label>
                <input name="image" value="{{restaurant.image}}"/>
            </div>
            <div>
                <label>Restaurant font:</label>
                <input name="font" value="{{restaurant.font}}"/>
            </div>
            <button>Update Restaurant</button>
        </form>

        <form action="/restaurant/{{restaurant.id}}/addmenu" method="POST">
            <div>
                <label>add menu title:</label>
                <input name="title"/>
            </div>
            <button>Add Menu</button>
        </form>

        <form action="/restaurant/{{restaurant.id}}/deletemenu" method="POST">
            <div>
                <label>select menu name:</label>
                <select name="id">
                    {{#each restaurant.menus}}
                        <option value="{{this.id}}">{{this.title}}</option>
                    {{/each}}
                </select>
            </div>
            <button>Remove Menu</button>
        </form>

    </div>
</div>



<div id="deleteform" class="over">
<a href="javascript:void(0)" class="closebtn" onclick="closeAny('deleteform')">&times;</a>

    <div class="over-content">

        <h1>Are you sure you would like to delete this Restaurant</h1>

        <form action="/restaurant/{{restaurant.id}}/deleterest" method="POST">
        <button>Yes</button>
        </form>

    </div>
</div>





<script>
function openAny(id) {
    document.getElementById(id).style.width = "30%";
}

function closeAny(id) {
    document.getElementById(id).style.width = "0%";
}

function openForm(id) {
    document.getElementById("editmenuform" + id).style.width = "30%";
}

function closeForm(id) {
    document.getElementById("editmenuform" + id).style.width = "0%";
}
</script>