<div style="background-image:url({{restaurant.image}});font-family:{{restaurant.font}}" class="restimg">
    <div class="overlayimg">
        {{restaurant.name}}
    </div>
</div>
<section class="menus" style="font-family: {{restaurant.font}};">
    {{#each restaurant.menus}}
        <h1>{{this.title}}</h1>
            {{#each this.items}}
                <div>
                    <h2>{{this.name}}</h2>
                    <h3>£{{this.price}}</h3>
                </div>
            {{/each}}
        <a onclick="openEditMenu()">
            <button style="font-size:1.5vh;cursor:pointer;">edit menu</button>
        </a>
        <div id="editmenuform" class="over">
            <a href="javascript:void(0)" class="closebtn" onclick="closeEditMenu()">&times;</a>

            <div class="over-content">

                <h4>Edit Menu</h4>

                <form action="/restaurant/{{../restaurant.id}}/{{this.id}}/edit" method="POST">
                <div>
                    <label>Menu title:</label>
                    <input name="title" value="{{this.title}}"/>
                </div>
                <button>Update Menu</button>

                </form>
                <form action="/restaurant/{{../restaurant.id}}/{{this.id}}/additem" method="POST">
                <div>
                    <label>add item name:</label>
                    <input name="name"/>
                </div>
                <div>
                    <label>add item price:</label>
                    <input name="price"/>
                </div>
                <button>Add Item</button>
                </form>

            </div>
        </div>
    {{/each}}
</section>





<a onclick="openEdit()" style="cursor:pointer;">
    <h1>edit restaurant</h1>
</a>

<div id="editform" class="over">
<a href="javascript:void(0)" class="closebtn" onclick="closeEdit()">&times;</a>

    <div class="over-content">

        <h1>Edit Restaurant</h1>

        <form action="/restaurant/{{restaurant.id}}/edit" method="POST">
        <div>
            <label>Restaurant name:</label>
            <input name="name" value="{{restaurant.name}}"/>
        </div>
        <div>
            <label>Restaurant image:</label>
            <input name="image" value="{{restaurant.image}}"/>
        </div>
        <div>
            <label>Restaurant font:</label>
            <input name="font" value="{{restaurant.font}}"/>
        </div>
        <button>Update Restaurant</button>
        </form>

    </div>
</div>





<a onclick="openDelete()" style="cursor:pointer;">
    <h1>delete restaurant</h1>
</a>

<div id="deleteform" class="over">
<a href="javascript:void(0)" class="closebtn" onclick="closeDelete()">&times;</a>

    <div class="over-content">

        <h1>Are you sure you would like to delete this Restaurant</h1>

        <form action="/restaurant/{{restaurant.id}}/delete" method="GET">
        <button>Yes</button>
        </form>

    </div>
</div>





<script>
function openEdit() {
  document.getElementById("editform").style.width = "30%";
}

function closeEdit() {
  document.getElementById("editform").style.width = "0%";
}


function openDelete() {
  document.getElementById("deleteform").style.width = "30%";
}

function closeDelete() {
  document.getElementById("deleteform").style.width = "0%";
}


function openEditMenu() {
  document.getElementById("editmenuform").style.width = "30%";
}

function closeEditMenu() {
  document.getElementById("editmenuform").style.width = "0%";
}
</script>